useDynLib(GRAB, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
exportPattern("^GRAB\\.")
export(Batcheffect.Test)
export(CCT)
export(checkIfSampleIDsExist)
export(getDenseGRM)
export(getSampleIDsFromBGEN)
export(getSparseGRM)
export(getTempFilesFullGRM)
export(getVersionFromBGEN)
export(handleFormula)
export(makeGroup)
export(setDenseGRM)
export(TestforBatchEffect)
